.toolbar-end{
    display:flex;
    align-items: end;
}

.sideNav {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0px 10px 0px;
  }
  
  .sideNavCont {
    width: 15%;
  }
  
  .sideBarNavigation {
    height: 100%;
  }